{% extends app.request.isXmlHttpRequest == false ? "FileServerBundle::layout.html.twig" : "FileServerBundle::clean.html.twig" %}
{% block menu %}
<li class=""><a href="{{ url("FileServer_ListadoAlmacenes") }}">Almacenes</a></li>
<li class="current"><a href="#">{{ almacen }}</a></li>
{% endblock %}
{% block submenu %}
{% include "FileServerBundle:Admin:files_submenu.html.twig" %}
{% endblock %}    
{% block content %}
<div id="box">
    <h3>Listado de Archivos</h3>
    <table width="100%">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Tipo</th>
                <th>Tama&ntilde;o</th>
                <th>Tags</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            {% set size = 0 %}
            {% for file in files %}
                <tr>
                    {% set size = size + file.size %}
                    <td>{{ file.name }}</td>
                    <td>{{ file.type }}</td>
                    <td>{{ file.size | humanreadable }}</td>
                    <td>
                        {% for tag in file.tags %}                            
                            <span id="tag_{{ tag.tag }}_{{ file.id }}" class="tags"><a href="{% if tag.tag == tags %}{{ url("FileServer_ListadoArchivos", { "almacen" : almacen } ) }}{% else %}{{ url("FileServer_ListadoArchivos", { "almacen" : almacen, "tag" : tag.tag } ) }}{% endif %}">{{ tag.tag }}</a><a href="#" class="tag_remove"> X</a></span>
                        {% endfor %}
                            <a id="{{ file.id }}" class="add_tag" alt="Agregar etiqueta"><img src="{{ asset("bundles/fileserver/img/icons/add.png") }}" alt="Agregar etiqueta" ></a>
                    </td>
                    <td>
                        <img src="{{ asset("bundles/fileserver/img/icons/page_white_edit.png") }}" alt="Editar" >
                        <img src="{{ asset("bundles/fileserver/img/icons/page_white_delete.png") }}" alt="Borrar" >
                    </td>
                </tr>                
             {% else %}
                <tr>
                    <td colspan="5">Na hay archivos en este almacén, use <a href="{{ url("FileServer_Upload", {"store":almacen}) }}">Subir archivos</a> para comenzar a poner los archivos en el servidor.</td>
                </tr>                
             {% endfor %}
        </tbody>
</table>
<div id="pager">{% if paginas > 1 %}P&aacute;gina 
    {% if paginaprev != false %}<a id="prevpage" href="#"><img src="{{ asset("bundles/fileserver/img/icons/arrow_left.gif") }}" width="16" height="16" /></a>{% endif %}
    <input size="1" value="{{ pagina }}" type="text" name="page" id="page" onchange="alert($(this).val())"/>
    {% if paginanext != false %}<a id="nextpage" href="#"><img src="{{ asset("bundles/fileserver/img/icons/arrow_right.gif") }}" width="16" height="16" /></a>{% endif %} de {{ paginas }} | Mostrar 
    <select id="pager_pages" name="view">
    <option {% if porpagina == 10 %}selected="selected"{% endif %} >10</option>
    <option {% if porpagina == 20 %}selected="selected"{% endif %} >20</option>
    <option {% if porpagina == 50 %}selected="selected"{% endif %} >50</option>
    <option {% if porpagina == 100 %}selected="selected"{% endif %} >100</option>
    </select> por p&aacute;gina |{% endif %} Total <strong>{{ files | length }}</strong> archivo{% if files | length > 1 or files | length == 0 %}s{% endif %}{% if files | length != 0 %}, ocupando {{ size | humanreadable }} de {{ files[0].store.size | humanreadable }}{% else %}.{% endif %}
</div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        // ADD TAG ZONE
        var add_tag_input = null;
        var add_tag_for = null;
        
        function addTag ( t)
        {
            if ( add_tag_input != null) addTagRemove();
            
            var input = '<input id="add_tag_input" value="" type="text" />';            
            $(t).before(input);
            add_tag_input = '#add_tag_input';
            add_tag_for = $(t).attr('id');
            $(add_tag_input).keypress(function(e){
                                                    if ( e.which == 13)
                                                        {
                                                            addTagRegister();
                                                            return false;
                                                        }
                                                   });
            $(add_tag_input).change(function(){
                                                        addTagRegister();
                                                    });                                       
            addTagAutocomplete();
        }   
        
        function addTagRegister()
        {
            if ( $(add_tag_input).val().length < 3 ) 
                {
                    addTagRemove();
                    return ;
                }
            //REGISTER AJAX
            $.post( '{{ url("FileServer_AjaxSetTag") }}', { fileid : add_tag_for, tag: $(add_tag_input).val()  }, function(h){                    
                if ( h.err == "OK")
                    {
                        $('#tag_'+$(add_tag_input).val()+'_'+add_tag_for).remove();            
                        tag = $(add_tag_input).val();
                        _tag = '<span id="tag_'+tag+'_'+add_tag_for+'" class="tags"><a href="{{ url("FileServer_ListadoArchivos", { "almacen" : almacen } ) }}/'+tag+'">'+tag+'</a><a href="#" class="tag_remove"> X</a></span>';
                        $(add_tag_input).before(_tag);                        
                    } else alert(h.err);
                addTagRemove();                    
                removeTagActive();
            }, 'json');
            //POST END            
        }
        
        function addTagRemove ()
        {
            $(add_tag_input).remove();
            add_tag_input = null;
            add_tag_for = null;
        }

        function addTagAutocomplete ()
        {
            if ( add_tag_input != null)
                {
                    $(add_tag_input).autocomplete({
                                                    source: "{{ url("FileServer_AjaxListadoTags") }}",
                                                    minLength: 3
                                                   });
                }                    
        }                
       
        function removeTagActive () { 
            $('.tag_remove').each(function( i, domE){ 
                                        $(domE).prev('a').mouseover(function() {
                                                                                 $(this).next('a').show();
                                                                                });
                                        $(domE).click(function(){ removeTag(this); }); 
                                        $(domE).hide(); 
                                    }); 
            $('.tags').each(function( i, domE){ 
                                        $(domE).mouseout(function(){
                                                  $('.tag_remove').each(function( i, domE){
                                                                                              setTimeout(function() {  $(domE).hide(); }, 5000); 
                                                                                          }); 
                                                });
                                    });
        }
        
        function removeTag ( t) {
            //REGISTER AJAX
            $.post( '{{ url("FileServer_AjaxUnSetTag") }}', { field : $(t).parent().attr('id')  }, function(h){                    
                if ( h.err == "OK")
                    {
                        $(t).parent().remove();
                    }
            }, 'json');
            //POST END 
        }
        
        $('.add_tag').each(function( i, domE){ $(domE).click(function(){ addTag(this) }); });
        removeTagActive();
        
        //END ADD TAG
        
        {% if paginas > 1 %}
        $('#pager_pages').change(function(){ setPorPagina(this); });
        
        function setPorPagina ( l)
        {
            $.get( '{{ url("FileServer_ListadoArchivos", { "tag" : tags, "almacen" : almacen } ) }}', { show : $(l).val() }, function(h){
                        $('#content').html(h);
                    }, 'html');//FIN $.post
        }
                
        $('#page').change(function ()
        {
            $.get( '{{ url("FileServer_ListadoArchivos", { "tag" : tags, "almacen" : almacen } ) }}', { page : $(this).val()  }, function(h){
                        $('#content').html(h);
                    }, 'html');//FIN $.post
        });    
        {% endif %}
        
        {% if paginanext != false %}
        $('#nextpage').click(function ()
        {
            $.get( '{{ url("FileServer_ListadoArchivos", { "tag" : tags, "almacen" : almacen } ) }}', { page : {{ paginanext }} }, function(h){
                        $('#content').html(h);
                    }, 'html');//FIN $.post
        });    
        {% endif %}
        
        {% if paginaprev != false %}
        $('#prevpage').click(function ()
        {
            $.get( '{{ url("FileServer_ListadoArchivos", { "tag" : tags, "almacen" : almacen } ) }}', { page : '{{ paginaprev }}' }, function(h){
                        $('#content').html(h);
                    }, 'html');//FIN $.post
        });
        {% endif %}
    });
</script>
{% endblock %}
{% block sidebar %}
{% include "FileServerBundle:Admin:files_sidebar.html.twig" %}
{% endblock %}